body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 80vw;
  margin: auto;
}
input:-internal-autofill-selected {
  border-radius: 7px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5px;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 20px;
}
.header > .logo a {
  font-size: 32px;
  font-weight: 500;
}
.header a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
.header a:hover {
  color: rgb(90, 90, 90);
}

.header ul > li {
  display: inline-block;
}

.heading p {
  font-size: 22px;
  color: slategrey;
  font-weight: 500;
  margin: 5px;
  text-align: center;
}

.container div > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form input {
  border: none;
  outline: none;
  padding: 10px;
  background-color: transparent;
  font-size: 16px;
  min-width: 300px;
  width: 100%;
}

.form span {
  padding: 10px;
  position: absolute;
  right: 0px;
}

.input-div {
  border: 1px solid grey;
  text-align: center;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 16px;
  width: max-content;
  position: relative;
}
.input-div:hover,
.input-div:focus-within {
  border-color: black;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.212);
}
.form-btn {
  background-color: rgb(27, 27, 27) !important;
  color: white;
  border-radius: 7px;
  width: 100% !important;
  padding: 10px;
  cursor: pointer;
}
.form-btn:hover,
.form-btn:focus {
  box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.212);
}

.loadingSpinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingSpinner {
  background-image: url("../public/Spinning\ arrow.gif");
  width: 50px;
  aspect-ratio: 1/1;
  background-repeat: no-repeat;
  background-size: 50px;
}

.logout-btn {
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(56, 56, 56);
  border-radius: 7px;
  cursor: pointer;
}
.logout-btn:hover {
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.212);
}

#goal-form {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: stretch;
  gap: 20px;
}

#goal-form .input-div {
  margin-bottom: unset;
  width: 100%;
}

#goal-form .input-div > input {
  min-width: unset;
}
#goal-form > input {
  width: unset !important;
  min-width: unset;
}

.content,
#goal-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 10px;
  position: relative;
}
.goalItemHolder {
  overflow-x: auto;
  width: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}
.goalItem {
  border-radius: 7px;
  border: 1px solid grey;
  padding: 30px 15px 20px;
  position: relative;
  text-align: center;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}
.goalItem h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.goalItem:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.274);
  border-color: black;
}

.goalItem-btns > * {
  border: none;
  padding: 5px;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}
.goalItem-btns > *:hover {
  background-color: rgb(165, 165, 165);
}
.goalItem-btns {
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 475px) {
  .header ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .header ul a {
    padding: 5px;
  }
  #goal-form {
    flex-direction: column;
    width: unset;
    gap: 10px;
  }
  #goal-form > input {
    width: 100% !important;
  }
  #goal-form .input-div {
    width: 100%;
  }
  #goal-form .input-div > input {
    width: unset;
  }
  .goalItem {
    width: 100%;
  }

  .content,
  #goal-container {
    width: 80%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 475px) and (max-width: 700px) {
  .content,
  #goal-container {
    grid-template-columns: 1fr 1fr;
  }
} ;
